body {
  background: #d9dde6;
}
.App {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2 {
  font-family: 'Open Sans', sans-serif;
  color: #464fcb;
}

h1 {
  font-size: 80px;
  font-weight: 300;
  margin: 0;
}

nav {
  height: 50px;
}

ul {
  margin: 0;
}

li {
  float: right;
  list-style-type: none;
  padding: 10px;
}

.beforeAfter {
  width: 80%;
  margin: auto;
}

li a {
  text-decoration: none;
}

h2 {
  font-size: 60px;
  font-weight: 800;
  border-radius: 40px;
  border: 1px solid #464fcb;
  margin-top: 130px;
  text-align: center;
  padding-left: 15px;
  width: 50px;
  padding-right: 15px;
}

h6 {
  margin-left: 90px;
  margin-top: 90px;
}

.uploadBox {
  border: 3px dashed #464fcb;
  background: #fa927c;
  margin: 0px 90px 0px 90px;
  padding: 50px;
  width: 80%;
}

.uploadBox {
  text-align: center;
}

label.uploadButton input[type='file'] {
  display: none;
}

/***** Example custom styling *****/
.uploadButton {
  border-radius: 4px;
  padding: 10px 10px;
  margin-top: 30px;
  background: #464fcb;
  display: inline-block;
  color: #f6d9d3;
}
.uploadButton:hover {
  background: transparent;
  border: 1px solid #464fcb;
  color: #464fcb !important;
}

h3 {
  color: #464fcb;
  margin-left: 85px;
  font-size: 30px;
  font-weight: 300 !important;
  font-family: 'Open Sans', sans-serif;
}

.uploadBox p {
  color: #f6d9d3;
  font-weight: 600;
}

.col-6.select button,
.button {
  margin-top: 30px;
  background: #464fcb;
  border: none;
  padding: 15px;
  color: #f6d9d3;
  border-radius: 10px;
  text-transform: uppercase;
}

.button {
  width: 50%;
  margin-left: 80px;
  border-radius: 5px;
}

small {
  color: #464fcb;
  text-align: center;
}

input {
  background: transparent;
  border: 1px solid #464fcb;
  padding: 10px;
  width: 100%;
  margin-left: 60px;
  margin-top: 60px;
  color: #464fcb;
  font-size: 30px;
  font-weight: 300 !important;
}

input.inputText {
  font-weight: 300 !important;
  font-family: 'Open Sans', sans-serif;
  margin-top: 0;
}

select#encoder {
  margin-left: 60px;
  background: transparent;
  border: 1px solid #464fcb;
  width: 100%;
  padding: 15px;
  font-size: 20px;
  font-weight: 300 !important;
  font-family: 'Open Sans', sans-serif;
  color: #464fcb;
}

/* ==== GRID SYSTEM ==== */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^='col'] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
  content: '';
  display: table;
  clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {
  /* 540px */
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 45em) {
  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) {
  /* 960px */
  .container {
    width: 75%;
    max-width: 60rem;
  }
}
